<div class="container-fluid porftolio-section content-format" id="Portfolio">
			<div class="container">
				<h2 class="section-heading portfolio-heading">Portfolio</h2>
				
				<div class="row">	

				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">
					<%= image_tag  "pImage1png.png",class:"img-fluid" %>					
				</div>
				
				<div class=" mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb ">					
					<%= image_tag 'pImage2.png', class:"img-fluid" %>
				</div>
				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">			
					<%= image_tag 'pImage3.png',class:"img-fluid" %>
                   
				</div>
				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb  ">					
					<%= image_tag 'pImage4.png',class:"img-fluid" %>
				</div>

				<div class="mx-auto col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb  ">	
					<%= image_tag 'pImage5.png',class:"img-fluid" %>
				</div>

				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">
					<%= image_tag 'pImage6.png',class:"img-fluid" %>
				</div>

				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">					
					<%= image_tag 'pImage7.png', class:"img-fluid" %>
				</div>

				<div class=" mx-auto col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">
					
					<%= image_tag 'pImage7.png', class:"img-fluid" %>
				</div>
			</div>
		</div>

	</div>