<!--HERO SECTION-->

<div class="container-fluid" id='#Home'>
	<div class="row">

		<div class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="container col-offset-2 col-lg-8 hero-content">
				<h1 class="hero-text  col-lg-12"> We build dreams...</h1>
				<h2 class="hero-text col-lg-12"> ...and you live them "</h2>
			</div>
		</div>
	</div>
</div>
</div>

<!--SERVICES SECTION-->

<div class="container-fluid services-section" id="Services">
	<div class="container content-format">
		<h2 class="service-heading">Service</h2>

		<div class="row">

			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
				<div class="row icons">
					<i class="fas fa-mobile-alt "></i>
				</div>

				<div class="row service-subhead">
					<h4>UX/UI DESIGN <br /> </h4>
				</div>
				<div class="row">
					<p class='service-paragraph'>User experience is key to giving your audience a compelling experience.
						<br />
						We design platforms with a strong emphasise on clients needs and goals.
					</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
				<div class="row icons">
					<i class="fas fa-globe "></i>
				</div>
				<div class="row service-subhead">
					<h4>Web Hosting<br /></h4>
				</div>
				<div class="row">
					<p class='service-paragraph'>User experience is key to giving your audience a compelling experience.
						<br />
						We design platforms with a strong emphasise on clients needs and goals.
					</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
				<div class="row icons">
					<i class="far fa-clipboard "></i>
				</div>
				<div class="row  service-subhead">
					<h4>Product Developemnt</h4>
				</div>
				<div class="row">
					<p class='service-paragraph'>User experience is key to giving your audience a compelling experience.
						<br />
						We design platforms with a strong emphasise on clients needs and goals.
					</p>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
				<div class="row icons">
					<i class="fas fa-laptop "></i>
				</div>
				<div class="row service-subhead">
					<h4>Hardware & Software</h4>
				</div>
				<div class="row">
					<p class='service-paragraph'>User experience is key to giving your audience a compelling experience.
						<br />
						We design platforms with a strong emphasise on clients needs and goals.
					</p>
				</div>

			</div>



		</div>
	</div>
</div>

<!--Portfolio section-->
<!--
		
	<div class="container-fluid porftolio-section content-format" id="Portfolio">
			<div class="container">
				<h2 class="section-heading portfolio-heading">Portfolio</h2>
				
				<div class="row">	

				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">
					<%= image_tag  "pImage1png.png",class:"img-fluid" %>					
				</div>
				
				<div class=" mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb ">					
					<%= image_tag 'pImage2.png', class:"img-fluid" %>
				</div>
				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">			
					<%= image_tag 'pImage3.png',class:"img-fluid" %>
                   
				</div>
				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb  ">					
					<%= image_tag 'pImage4.png',class:"img-fluid" %>
				</div>

				<div class="mx-auto col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb  ">	
					<%= image_tag 'pImage5.png',class:"img-fluid" %>
				</div>

				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">
					<%= image_tag 'pImage6.png',class:"img-fluid" %>
				</div>

				<div class="mx-auto  col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">					
					<%= image_tag 'pImage7.png', class:"img-fluid" %>
				</div>

				<div class=" mx-auto col-lg-3 col-md-3 col-sm-6 col-xs-6 portfolio-thumb">
					
					<%= image_tag 'pImage7.png', class:"img-fluid" %>
				</div>
			</div>
		</div>

	</div>
	-->
<!--About section-->


<div class="container-fluid about-section content-format" id="About">
	<div class="container">
		<div class="row">
			<h2 class="section-heading about-heading">About Me</h2>
		</div>
		<div class="row ">
			<div class="mx-auto  col-lg-6 col-md-6 col-sm-12 col-xs-12 about-text">

				<p class="about-text">Enroute Technologies aims to provide a technological solutions
					perfectly fitted to our clients needs. The firm offers modern ideas
					and concepts in design that will place our work amongst the
					top local companies and international audience..
					<br>
					Innovation is our credo. Which is the primary
					aspect of our core values. This is found in our
					wortk ehtic and the value we put in the service we giv out.
				</p>
				<p>Follow us me:</p>
				<a class="icons">
					<%= fa_icon "fas fa-twitter "%></a>
				<a class="icons">
					<%= fa_icon "facebook" %></a>
				<a class="icons">
					<%= fa_icon "linkedin" %></a>
			</div>
			<iv class="mx-auto  col-lg-6 col-md-6 col-sm-12 col-xs-12 about-media">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen>
					</iframe>
				</div>
		</div>
	</div>
</div>
</div>


<!--Contact section-->


<div class="container-fluid contact-form content-format" id="Contact">
	<div class="container bg-cust form-bg">
		<div class="row">
			<h2 class="section-heading contact-heading">Contact</h2>
		</div>

		<div class="row ">
			<div class="mx-auto  col-lg-6 col-md-6 col-sm-12 col-xs-12 about-text">

				<form>
					<div class="form-group">
						<label for="InputEmail1"> Full Name</label>
						<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Full Name">

					</div>
					<div class="form-group">
						<label for="InputEmail1">Email address</label>
						<input type="email" class="form-control " id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
						<small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
					</div>
			</div>

			<div class="mx-auto  col-lg-6 col-md-6 col-sm-12 col-xs-12 about-media">
				<div class="form-group">
					<label for="messageInput">Message </label>
					<textarea type="textarea" class="form-control" rows="4" id="messageInput"></textarea>

				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

	</div>
</div>



<!-- Footer -->
<footer class="page-footer fixed-bottom font-small blue pt-2">
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">© 2018 Copyright:
		<a href="https://mdbootstrap.com/education/bootstrap/"> enrouteTech.com</a>
	</div>
	<!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>