<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @portfolio.titel %>
</p>

<p>
  <strong>Description:</strong>
  <%= @portfolio.description %>
</p>

<p>
  <strong>Portfolio image:</strong>
  <%= @portfolio.portfolio_image %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
